<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{fileInfo.name}}</title>

  <base target="_parent">

  {{!-- {{#libraries}}
  <script src="{{.}}"></script>
  {{/libraries}} --}}

  <link rel="stylesheet" href="plugins/common/common.css">
  <link rel="stylesheet" href="plugins/js/js.css">
</head>

<body>
  
  {{{html}}}
  <script>window.sketch_directory = "{{ fileInfo.directory }}";</script>
  {{#libraries}}
  <script src="{{.}}"></script>
  {{/libraries}}
  <script {{#attributes}}{{{.}}} {{/attributes}}src="{{fileInfo.path}}"></script>
</body>

</html>